*{
    background-color: blanchedalmond;
}

h1{
    text-align: center;
    font-size: 35px;
    text-decoration:underline
}
.formulario{
    text-align: center;
}
#de{
    background-color: aliceblue;
    width: 200px;
}
#a{
    background-color: aliceblue;
    width: 200px;
}
h2{
    font-size: 18px;
}
p{
    font-size: 20px;
}
.contenido {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: rgb(75, 54, 42);
}


.test{ 
    background-color: blanchedalmond;

}

.compraVenta{
    overflow: oculto;
    position: relative;
    width: auto;
    margin: 1px;
    min-height: auto;

}
.form{
    text-align: center;
background-color: aliceblue;
}

#alertaForm{
    width: 200px;
    background-color: aliceblue;
}